# Triggered once.

name: 04 - Setup Cognito

on:
  workflow_dispatch:
    inputs:
      environmentName:
        description: 'The name of the environment in which to deploy the resources.'
        required: true
        default: 'staging'
      applicationName:
        description: 'The name of the application associated to the deployment.'
        required: true
        default: 'front'
      applicationUrl:
        description: 'The URL the application will be associated to.'
        required: true
        default: https://wcdevs.org
      domainPrefix:
        description: 'The AWS login domain prefix for the application. It is the first part of the domain before .auth.[region].amazoncognito.com'
        required: true
        default: wcdevs
jobs:
  setup-cognito:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    name: Setup Cognito resources

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Install CDK
        run: |
          npm i -g aws-cdk
          echo "CKD version:"
          cdk version

      - name: NPM install
        run: npm i

      - name: Deploy cognito stack
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_DEPLOY_REGION }}
        run: |
          npm run cognito:deploy -- \
            -c environmentName=${{ github.event.inputs.environmentName }} \
            -c applicationName=${{ github.event.inputs.applicationName }} \
            -c accountId=${{ secrets.AWS_ACCOUNT_ID }} \
            -c region=${{ secrets.AWS_DEPLOY_REGION }} \
            -c applicationUrl=${{ github.event.inputs.applicationUrl }} \
            -c domainPrefix=${{ github.event.inputs.domainPrefix }}
