name: 04 - Manually trigger the app domain setup

on:
  workflow_dispatch:
    inputs:
      environmentName:
        description: 'The name of the environment in which to set-up the app domain.'
        required: true
        default: 'staging'
jobs:
  deploy-api-domain:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    name: Deploy the application domain setup resources

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Install CDK
        run: |
          npm i -g aws-cdk
          echo "CKD version:"
          cdk version

      - name: NPM install
        run: npm i

      - name: Setup domain resources
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_DEPLOY_REGION }}
        run: |
          npm run domain:deploy -- -c accountId=${{ secrets.AWS_ACCOUNT_ID }} -c region=${{ secrets.AWS_DEPLOY_REGION }} -c environmentName=${{ github.event.inputs.environmentName }} -c hostedZoneDomain=${{ secrets.HOSTED_ZONE_DOMAIN }} -c applicationDomain=${{ secrets.APPLICATION_DOMAIN }}
