# Triggered once.

name: 05 - Setup Cognito

on:
  workflow_dispatch:
    inputs:
      environmentName:
        description: 'The name of the environment in which to deploy the resources.'
        required: true
        default: 'staging'
      domainPrefix:
        description: 'The AWS login domain prefix for the application. It is the first part of the domain before .auth.[region].amazoncognito.com'
        required: true
        default: 'wcdevs'
      frontEndApplicationName:
        description: 'The name of the frontend application associated to the deployment.'
        required: true
        default: 'front'
      frontEndApplicationUrl:
        description: 'The URL the frontend application will be associated to.'
        required: true
        default: 'https://wcdevs.org'
      frontEndCallbacks:
        description: 'Comma separated list of (full) callback urls for the frontend application'
        required: false
      coreApplicationName:
        description: 'The name of the core application associated to the deployment.'
        required: true
        default: 'core'
      coreApplicationUrl:
        description: 'The URL the core application will be associated to.'
        required: true
        default: 'https://api.wcdevs.org'
jobs:
  setup-cognito:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    name: Setup Cognito resources

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: maven

      - name: Install CDK
        run: |
          echo "Node version:"
          node -v
          echo "npm version:"
          npm -v
          npm i -g aws-cdk
          echo "CKD version:"
          cdk version

      - name: NPM install
        run: npm i

      - name: Deploy cognito stack
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_DEPLOY_REGION }}
        run: |
          npm run cognito:deploy -- \
            -c accountId=${{ secrets.AWS_ACCOUNT_ID }} \
            -c region=${{ secrets.AWS_DEPLOY_REGION }} \
            -c environmentName=${{ github.event.inputs.environmentName }} \
            -c domainPrefix=${{ github.event.inputs.domainPrefix }} \
            -c frontEndApplicationName=${{ github.event.inputs.frontEndApplicationName }} \
            -c frontEndApplicationUrl=${{ github.event.inputs.frontEndApplicationUrl }} \
            -c frontEndCallbacks=${{ github.event.inputs.frontEndCallbacks }} \
            -c coreApplicationName=${{ github.event.inputs.coreApplicationName }} \
            -c coreApplicationUrl=${{ github.event.inputs.coreApplicationUrl }}
